<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marcacao" href="/tabs/marcacao">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>Marcações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solicitacao" href="/tabs/solicitacao">
      <ion-icon aria-hidden="true" name="swap-horizontal-outline"></ion-icon>
      <ion-label>Solicitações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atestado" href="/tabs/atestado">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Atestados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
