
ion-badge.status-pendente {
  background-color: #ffc107;
  color: #000; 
}

ion-badge.status-aprovado {
  background-color: #28a745; 
  color: #fff; 
}

ion-badge.status-reprovado {
  background-color: #dc3545; 
  color: #fff; 
}
