<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de atestados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="atestadoForm">
    <ion-item>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input formControlName="nome" type="text"> </ion-input>
      <ion-text
        color="danger"
        *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)"
      >
        <small *ngIf="nome?.errors?.['required']">
          O campo nome é obrigatório
        </small>
        <small *ngIf="nome?.errors?.['minlength']">
          O campo nome deve conter no mínimo
          {{ nome?.errors?.['minlength'].requiredLength }} caracteres
        </small>
        <small *ngIf="nome?.errors?.['maxlength']">
          O campo nome deve conter no máximo
          {{ nome?.errors?.['maxlength'].requiredLength }} caracteres
        </small>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data</ion-label>
      <ion-datetime formControlName="data" presentation="text" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dias</ion-label>
      <ion-input formControlName="duracao" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Local</ion-label>
      <ion-input formControlName="local" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Arquivo</ion-label>
      <ion-input formControlName="arquivo" type="file"></ion-input>
    </ion-item>

    <ion-button
      expand="full"
      (click)="salvar()"
      [disabled]="!atestadoForm.valid"
      >Salvar</ion-button
    >
  </form>
</ion-content>
