.centralizado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%; 
    height: auto;
  }

.relogio {
    font-size: 4em;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
  

